<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h3 style="text-align: center;">Teacher Login Form</h3>
        </div>
        <div class="container">
            <div class="card">
                <div class="container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row" style="padding-top: 50px; padding-bottom: 50px; padding-left: 20px; padding-right: 20px;">
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Username</label>
                                    {{form.username}}
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Password</label>
                                    {{form.password}}
                                </div>
                            </div>
                            {% if error %}
                            {{error}}
                            {% endif %}
                         
                            <div style="padding-bottom: 10px; padding-top: 10px;" >
                                <button class="btn btn-primary" type="submit">Login</button>
                            </div>
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
</body>
</html>